import(stats, parallel, MCPAN, pbmcapply)
importFrom("grDevices", "extendrange")
importFrom("graphics", "grid", "legend", "lines", "persp", "par")
importFrom("parallel", "mcmapply", "mclapply")
importFrom("pbmcapply", "pbmcmapply", "pbmclapply")
importFrom("MCPAN", "SCSrank")
importFrom("robustbase", "covMcd")
importFrom("utils", "combn")
export("bkcde", "plot.bkcde", "predict.bkcde", "sub.cv", "bkcde.co")
S3method(bkcde, default)
S3method(plot, bkcde)
S3method(fitted, bkcde)
S3method(predict, bkcde)
S3method(summary, bkcde)
S3method(summary, bkcde.co)
S3method(print, bkcde.co)
